---
import Button from '../Button.astro'
import FeatureItem from '../home/FeatureItem.astro'
---
<section id="features">
  <div class="container flex flex-col-reverse px-4 mx-auto mt-10 mt-10 space-y-12 md:space-y-0 md:flex-row">
    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
        What's different about Manager?
      </h2>
      <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
        Manage provides all the functionality your team needs, withoput the complexity.
        Our software is tailor-made for modern digital product teams.
      </p>
      <div class="flex justify-center md:justify-start">
        <Button href="/" label="Get Started" />
      </div>
    </div>
    <div class='flex flex-col space-y-8 md:w-1/2'>
      <FeatureItem number='01' title='Track company-whide progress'>
        <p class="text-darkGrayishBlue">
          See how your day-to-day tasks fit into the wider vision.
          Go from progress at the milestone level all the way down to the smallest of details. 
          Never lose sight of the bigger picture again.
        </p>
      </FeatureItem>

      <FeatureItem number='02' title='Advanced built-in reports'>
        <p class="text-darkGrayishBlue">
          Set internal delivery estimates and track progress toward company goals.
          Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.
        </p>
      </FeatureItem>

      <FeatureItem number='03' title='Everything you need in one place'>
        <p class="text-darkGrayishBlue">
          Stop jumping from one service to another to communicate, store files, track tasks and share documents.
          Manage offers an all-in-one team productivity solution.
        </p>
      </FeatureItem>
    </div>
  </div>
</section>
