---
export interface Props {
  label: string,
  href: string,
  classExtra?: string,
  variant?: string,
}

const { label, href, classExtra = '', variant = 'dark' } = Astro.props as Props;
const buttonDarkClass = 'p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight';
const buttonLightClass = 'p-3 px-6 pt-2 text-brightRed bg-white rounded-full shadow-2xl baseline hover:bg-gray-800';
const buttonClass = `${variant === 'dark' ? buttonDarkClass : buttonLightClass} ${classExtra}`;
---

<a href={href} class={buttonClass}>{label}</a>