---
---
<button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
  <span class="hamburger-top"></span>
  <span class="hamburger-middle"></span>
  <span class="hamburger-bottom"></span>
</button>


<script>
  const btn = document.getElementById('menu-btn');
  const menu = document.getElementById('menu');

  if (btn && menu) {
    btn.addEventListener('click', () => {
      btn.classList.toggle('open');
      menu.classList.toggle('flex');
      menu.classList.toggle('hidden');
    });
  }

</script>

<style>
  .hamburger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    position: relative;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.25s ease-in-out;
  }
  .hamburger-middle {
    transform: translateY(7px);
  }
  .hamburger-bottom {
    transform: translateY(14px);
  }
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  .open .hamburger-middle {
    display: none;
  }
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
  
</style>
