---
import logo from '../images/logo.svg';
---
<nav class="relative container mx-auto p-6">
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="pt-2">
      <img src={logo} alt="">
    </div>
  </div>
</nav>